body {
	background-color: #161220;
background-image: background-color: #161220;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color: #E9C87B;
}
header {
	text-align: center;
	margin-bottom: 6rem;
}
.intro {
	margin-bottom: 3rem;
}
.searchbar {
	height: 3rem;
	margin-bottom: 2rem;
	text-align: center;

}
input {
	display: inline-block !important;
	height: 100%;
	font-family: bookman;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 34.1px;
}
small {
	display: block;
	font-size: 20px;
}
.active {
	background-color: lightblue;
}
#speaker {
	font-weight: 900;
	font-size: 5rem;
}
.temp, .wind, .city, .weather {
	text-align: center;
	font: 2rem "Roboto", sans-serif;
	font-color
}
.temp {
	padding-top: 1.250rem;
}
.wind {
	border-left: 2px solid #E9C87B;
	font-variant: small-caps;
}
.weather {
	font-variant: small-caps;
	font-size: 3rem;
}
#tempWind {
	height: 6rem;
	margin: 3rem 0;
	border-bottom: 1px solid #E9C87B;
}
.city, .weather {
	margin-bottom: 2.5rem;
}
table, td, th {
    border: 1px solid gray;
}
table {
	width: 100%;
	border-collapse: separate;
}
#playbtn {
	height: 60px;
	width: 60px;
	cursor: pointer;
}
.playbtn {
	border: .5px dashed #E9C87B;
	border-radius: .5rem;
	padding: auto 0;
	background: url(icons/play.png) no-repeat;
}
.pausebtn {
	padding: auto 0;
	border: .5px dashed #E9C87B;
	background: url(icons/pause.png) no-repeat;
}
